@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Volkhov {
    font-family: "Volkhov", serif;
}

.Poppins {
    font-family: ".Poppins", serif;
}

.slick-slide >div {
    margin: 0px, 10px;
}
